*,
*:before,
*:after{
	padding: 0;
	margin: 0;
	bottom: 0;
	box-sizing: border-box;
}
html,
body{
	height: 100%;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	background-color: #333;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.fullscreen {
	min-height: 100vh;
	display: flex;
	color: #fff;
	background-color: #666;
}
.fullscreen__two{
	background-color: #999;

}
.fullscreen__bg{
	background: url('/img.jpg') center / cover no-repeat fixed;

}
.fullscreen__body {
	padding: 20px 0;
	max-width: 1000px;
	width: 100%;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
}
.fullscreen__title {
	font-size: 48px;
	margin-bottom: 20px;
}
.fullscreen a {
	margin-top: 20px;
	background-color: rgb(64 156 38);
	display: inline-block;
	align-self: center;
	padding: 0 20px;
	line-height: 30px;
	text-decoration: none;
	color: cornsilk;
}

.content {padding: 50px 0;;}
.content__body{
	max-width: 1000px;
	margin: 0 auto;
}
.content__body p{
	margin-bottom: 15px;
}
.footer {
	background-color: #000;
	text-align: center;
	padding: 30px 0;
}